.products {
	display: flex;
	
}
.product{
	/* border: 1px solid #000; */
	flex: 0 1 33.333%;
}
.product__image {
	border: 1px solid #000;
	width: 100%;
	position: relative;
	padding-bottom: 50%;

}
.tag {
	
}