.filling__title {
	margin-bottom: 15px;
}
.filling__flex {
	display: flex;
	flex-wrap: wrap;
	.filling__name {
		cursor: pointer;
		padding: 3px 10px;
		display: inline-block;
		margin-right: 20px;
		border: 1px solid #000;
		transition: all 0.5s ease 0s;
		margin-bottom: 5px;
		&:hover {
			background: #000;
			color: #fff;
		}
	}
}
